body {
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
}

header p{
    margin: 0;
}

header a{
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30%;
    padding-right: 30%;
}

#startGame{
    max-width: 120px;
}